<section class="p-4 flex flex-col items-center">
  {{ $authorName := .Site.Params.author }}
  {{ with .Site.Params.authorImage }}
  <div class="w-48 h-48 rounded-full mb-6 bg-red-100">
    <img src="{{.}}" class="w-full p-2 h-full object-contain" alt="{{ $authorName }}" />
  </div>
  {{ end }}

  <div class="text-5xl md:text-6xl font-bold text-center max-w-3xl mb-4 relative">
    <div class="relative">{{ .Site.Params.homepage.title }}</div>
  </div>
  <h1 class="text-2xl text-center mb-4">
    {{ .Site.Params.homepage.description }}
  </h1>
  <p class="font-light text-center max-w-sm mb-8">
    {{ .Site.Params.homepage.tagline }}
  </p>

  {{ with .Site.Params.homepage.resume }}
  <a
    href="{{ . }}"
    rel="noopener noreferrer"
    target="_blank"
    class="px-6 py-4 rounded-full font-semibold text-lg bg-black text-white hover:bg-gray-800 transition-colors dark:bg-white dark:text-black dark:hover:bg-gray-200"
    >Download résumé</a
  >
  {{ end }}
</section>
